.result-grid{
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(42, 40, 40);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.delete-btn{
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(193, 175, 10);
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    cursor: pointer;
}

